<tr>
	<br />
	<td class="client_addr round">
		<strong><%= client_addr.title %> Address</strong> | 
		<a href="<%= edit_client_addr_path(client_addr) %>">Edit</a><br />
		<span class="street"><%= client_addr.street %></span><br />
		<span class="city"><%= client_addr.city %></span><br />
		<span class="state"><%= client_addr.state %></span><br />
		<span class="zip"><%= client_addr.zip %></span><br />
	</td>
</tr>
