<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @client %>
				<%= @client.first_name %> <%= @client.last_name %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @client.first_name %><br />
			<strong>URL</strong> <%= link_to client_path(@client), @client %><br />
		</td>
	</tr>
</table>
<% if @client.client_addrs.any? %>
	<table class="client_addrs" summary="Client Addresses">
		<%= render @client_addrs %>
		<tr><%= link_to 'Add Address', '/createaddress' %></tr>
	</table>
<% end %>
